.white-container {
  z-index: 1;
  position: relative;
  width: 250px;
  height: max-content;
  background-color: white;
  font-family: var(--font-main);
  padding-top: 20px;
  padding-bottom: 25px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}
.white-container .card-title {
  font-size: 18px;
  color: var(--grayish-blue);
  font-weight: bold;
  text-align: center;
}
.white-container .card-price {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color: hsl(232, 13%, 33%);
  text-align: center;
}
.white-container .card-price span {
  font-size: 24px;
}
.white-container p.card-feature {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  width: 90%;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--grayish-blue);
  border-top: 2px solid rgba(179, 181, 197, 0.2);
}
.white-container hr.button-border {
  border: 1px solid rgba(179, 181, 197, 0.2);
  width: 90%;
  margin: auto;
}
.white-container .card-button {
  font-family: var(--font-main);
  font-size: 12px;
  display: block;
  width: 80%;
  height: 40px;
  margin: 15px auto 0 auto;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.75px;
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  border: none;
  transition: all 0.2s ease;
}
.white-container .card-button:hover {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #7976bc;
  background-image: none;
  color: #7976bc;
}
