@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --font-main: "Montserrat", sans-serif;
  --very-light-gray: hsl(240, 78%, 98%);
  --light-gray: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-gray: hsl(232, 13%, 33%);
}
